.Instalink {
    color: #666;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--mantine-color-primary-9) !important;
        text-decoration: none;

    }
}